body {
  background-color: rgb(50, 49, 49);
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin-bottom: 0;
}

.title {
  font: 3em sans-serif;
}

.name {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background-color: rgb(132, 130, 130);
  padding: 20px;
  flex-basis: calc((100% - 45px) / 4);
}
/* @media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    flex-basis: calc((100%-20px) / 2);
    max-width: 350px;
  }
} */

@media screen and (max-width: 1665px) {
  .card {
    flex-basis: calc((100% - 30px) / 3);
  }
}

@media screen and (max-width: 1265px) {
  body {
    padding: 8px;
  }
  .card {
    padding: 12px;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    gap: 20px;
  }
  .card {
    flex-basis: calc((100% - 20px) / 2);
    padding: 20px;
  }
}

@media screen and (max-width: 820px) {
  body {
    padding: 20px;
  }
  .container {
    flex-direction: column;
  }
  .card {
    flex-basis: 100%;
    padding: 20px;
  }

  .dscr {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 430px) {
  body {
    padding: 8px;
  }
  .card {
    padding: 8px;
  }
}
